input {
    width: 200px; /* Você pode ajustar o valor conforme necessário */
    margin-bottom: 10px; /* Adiciona um espaçamento inferior entre os campos */
}

h1 {
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;

    background: #f1f1f1;
    color: #000;
    font-size: 60px;
}

form {
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}